* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-image: radial-gradient(rgb(121, 122, 147) 0.5px, rgb(222, 222, 230) 0.5px);
  background-size: 10px 10px;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  background: linear-gradient(45deg, #1a1a1a 25%, #222222 25%, #222222 50%, #1a1a1a 50%, #1a1a1a 75%, #222222 75%);
  background-size: auto;
  background-size: 80px 80px;
  box-shadow: 0 2px 2px #888;
}

header a {
  color: #FFFFFF;
}

header > nav {
  position: relative;
}

header > nav > ul {
  position: absolute;
  top: calc(100% + 5px);
  right: -10px;
  list-style: none;
  margin: 0;
  padding: 5px;
  text-align: left;
  background-color: #333;
  border: 2px #555555 solid;
}

header > nav > ul.hidden {
  display: none;
}

header > nav > ul > li {
  margin: 5px;
}

header + * {
  margin-top: 90px;
}

h1 {
  margin: 0;
}

body > nav {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 2px #555;
}

body > nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

body > nav li {
  display: inline-block;
  margin-right: 20px;
}

body > nav a {
  color: #333;
  font-size: 13px;
}

body > nav a.active {
  font-weight: bold;
}

main {
  position: relative;
  padding: 20px;
}

main #buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main p#location_message {
  font-weight: bold;
}

main iframe {
  border: 2px solid #b1b1b1;
  background: #FFFFFF;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

main iframe#sudoku {
  padding: 20px 0 0 0;
}

main h2.game_name {
  margin: 0 0 10px 0;
  text-align: center;
}

.big-button {
  margin: 3px 3px 3px 3px;
  min-width: 100px;
  padding: 5px;
  height: 100px;
  border: solid #b1b1b1 2px;
  border-radius: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 2px 2px 4px black;
}

.big-button.medication {
  background-image: url('/media/images/big-button-medication.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.caretakers {
  background-image: url('/media/images/big-button-caretakers.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.games {
  background-image: url('/media/images/big-button-games.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.geofence {
  background-image: url('/media/images/big-button-geofence.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.settings {
  background-image: url('/media/images/big-button-settings.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.sos {
  background-image: url('/media/images/big-button-sos.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.sudoku {
  background-image: url('/media/images/games_sudoku.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.go {
  background-image: url('/media/images/games_go.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.connect4 {
  background-image: url('/media/images/games_connect4.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.tictactoe {
  background-image: url('/media/images/games_tictactoe.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.tetris {
  background-image: url('/media/images/games_tetris.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.chess {
  background-image: url('/media/images/games_chess.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.pill-1 {
  background-image: url('/media/images/medication-1.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.pill-2 {
  background-image: url('/media/images/medication-2.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.pill-3 {
  background-image: url('/media/images/medication-3.png'), linear-gradient(45deg, #E5E5E5 25%, #EEEEEE 25%, #EEEEEE 50%, #E5E5E5 50%, #E5E5E5 75%, #EEEEEE 75%);
}

.big-button.pill-1.pending {
  background-image: url('/media/images/medication-1.png'), linear-gradient(45deg, #F4CBCB 25%, #FFE0E0 25%, #FFE0E0 50%, #F4CBCB 50%, #F4CBCB 75%, #FFE0E0 75%);
  box-shadow: 2px 2px 4px #880000;
}

.big-button.pill-2.pending {
  background-image: url('/media/images/medication-2.png'), linear-gradient(45deg, #F4CBCB 25%, #FFE0E0 25%, #FFE0E0 50%, #F4CBCB 50%, #F4CBCB 75%, #FFE0E0 75%);
  box-shadow: 2px 2px 4px #880000;
}

.big-button.pill-3.pending {
  background-image: url('/media/images/medication-3.png'), linear-gradient(45deg, #F4CBCB 25%, #FFE0E0 25%, #FFE0E0 50%, #F4CBCB 50%, #F4CBCB 75%, #FFE0E0 75%);
  box-shadow: 2px 2px 4px #880000;
}

footer {
  background: linear-gradient(45deg, #1a1a1a 25%, #222222 25%, #222222 50%, #1a1a1a 50%, #1a1a1a 75%, #222222 75%);
  background-size: 80px 80px;
  border-top: 2px #888888 solid;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  margin-top: auto;
}


button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0069d9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

button.secondary {
  background-color: #6c757d;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background: #88888888;
  z-index: 99;
}

.popup {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  background: #FFFFFF;
  overflow: hidden;
}

.popup-header {
  background: #EEEEEE;
  padding: 10px;
}

.popup.alert {
  background: #EDDFDF
}


.popup.alert .popup-header {
  background: #880000;
  color: #FFFFFF;
}

.popup-header > h2 {
  margin: 0;
}

.popup-content {
  padding: 0 10px;
}

.popup-footer {
  padding: 0 10px 10px 10px;
}

#sos_button {
  z-index: 90;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #cda8a899;
  overflow: hidden;
  background: #ca2121;
  box-shadow: 0 0 4px #000000;
  position: fixed;
  bottom: 50px;
  left: 5px;
  background-clip: padding-box;
}

#sos_button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

#sos_button.enabled {
  animation: fade 2s infinite;
}

@keyframes fade {
  0% {
    border-color: #cda8a899;
  }
  50% {
    border-color: #88000099;
  }
  100% {
    border-color: #cda8a899;
  }
}

main.caretaker > .profile {
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF55;
  border-radius: 20px;
}

main.caretaker > .profile > .info-block {
  flex: 1 1 50%;
  padding: 10px;
}

main.caretaker > .profile > .info-block > img {
  min-width: 140px;
  max-width: 100%;
  border-radius: 20px;
  /* box-shadow: 0 2px 5px rgb(0 0 0 / 50%); */
}

main.caretaker > .profile > .info-block > h2 {
  text-align: center;
  margin: 10px 0 10px 0;
}

main.caretaker > .profile > .info-block > p > img {
  vertical-align: middle;
}

main.caretaker > .profile > .info-block > div > img {
  padding: 5px;
  border: 3px #37abc8 solid;
  border-radius: 5px;
  background: #FFFFFF55;
}

.chat > .input-container {
  display: flex;
  margin-top: 20px;
}

.chat > .input-container > textarea {
  line-height: 1.5;
  resize: none;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  flex: 1;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

.chat > .input-container > textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2684FF;
}

.chat > .input-container > button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* The container for the message box */
.chat .message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* The message box for the user */
.chat .message.user {
  justify-content: flex-end;
}

/* The message box for the response */
.chat .message.response {
  justify-content: flex-start;
}

/* The text of the message box */
.chat .message-text {
  display: inline-block;
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #b8dee0;
  white-space: pre-wrap;
}

.chat .message.user .message-text {
  background-color: #eafcce;
}

/* The time of the message box */
.chat .message-time {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #888;
}

.chat .message.user .message-time {
  margin: 0 10px 0 0;
}

.medication-grid {
  display: grid;
  grid-template-columns: 106px 1fr;
  grid-gap: 10px;
}

.medication-grid > .big-button {
  
}

.medication-grid > .medication-instructions {
  
}

.notification-medication {
  width: 10px;
  height: 10px;
  background: #C00;
  position: absolute;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
  display: none;
  border: 1px solid #FFF;
  box-shadow: 2px 2px 2px #555;
}

#next-turn {
  display: none;
}

#next-turn > button {
  margin: 10px auto 0 auto;
  display: block;
}